/* .desc{
    color: darkgreen;
}
p{
    color: brown;
} */

ul li a{
    color: red;
}
.second{
    color: blue;
}
#third{
    color: green;
}
.box{
    width: 100px;
    height: 100px;
    background-color: red;
}
.box inside-box{
    width: 50px;
    height: 50px;
    background-color: blue;
}
#box .inside-box{
    color: red;
}
#box{
    background-color: green;
}
/* universal selector */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
div#box{
    font-size: 40px;
}
div,p,span,h1{
    border: 1px solid black;
}

#box>#inside-box{
    color: cyan;
}
#box~p{
    color: deepskyblue;
}

div[class^="col"]{
    color: hotpink;
}

/* #box-1>span+ul>li{
    color: aquamarine;
} */

div[class|="col"]:hover{
    color: red;
}

/* button[disabled]{
    background-color: red;
} */

button:disabled{
    background-color: red;
}

.link{
    border: 1px solid green;
}
