$green: #5fcf80;
$hover-green: #3ac162;
$white: white;
$gray: #37423b;
$main-font: "Poppins", sans-serif;
$secondary-font: "Raleway";

// breakpoints
$phone-breakpoint:576px;
$tablet-breakpoint: 768px;
$desktop-breakpoint:992px;
$large-desktop-breakpoint:1200px;
$xxl-large-desktop-breakpoint:1400px;