/* color name, rgb, rgba, hex code, hsl, hsla */

li:first-child{
    color:fuchsia;
}
li:nth-child(2){
    /* red, green, blue */
    color: rgb(256,0,100);
}
li:nth-child(3){
    /* red, green, blue, alpha (opacity) */
    background-color: rgba(256,0,0,1);
}
li:nth-child(4){
    color: #7b00ff86;
}
li:nth-child(5){
    /* hue, saturation, lightning */
    color: hsla(178, 95%, 30%, 0.653);
}
li:nth-child(6){
    /* hue, saturation, lightning, alpha */
    color: hsla(178, 100%, 50%, 0.622);
}