.wrapper{
    width: 70%;
    margin: 0 auto;
    border: 2px solid black;
    height: 500px;
    position: relative;
}
.box{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    font-size: 50px;
    transition: .4s;
}
.wrapper:hover>.box{
    transform: translate(-50%,-50%) rotate(-1turn) skew(0deg);
}