body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.outer-box{
    width: 600px;
    height: 400px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 400px;
    height: 200px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-box{
    width: 200px;
    height: 100px;
    background-color: green;
}
